:root {
  --border-radius: 2px;
  --border: 2px solid rgba(0, 0, 0, 0);
  --cc-bg: rgba(255, 255, 255, 0.8);
  --cc-fg: rgba(0, 0, 0, 1);
  --widget-background: rgba(255, 255, 255, 0.8);
  --noti-bg-alpha: 1;

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  font-family: SFPro Text;
  background: var(--cc-bg);
  color: var(--cc-fg);
}

.widgets > .widget {
  color: var(--cc-fg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  padding: 5px;
  border: var(--border);
  background: var(--widget-background);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers .notification-group-icon,
.notification-group .notification-group-headers .notification-group-header {
  color: var(--cc-fg);
}

.notification-group-header {
  color: var(--cc-fg);
  font-weight: 400;
  font-size: 14pt;
}

.notification-group {
  background: none;
  border-radius: var(--border-radius);
  padding: 8px;
}

.widget.widget-dnd > label {
  color: var(--cc-fg);
}

.widget.widget-mpris {
  background: var(--cc-bg);
  border-radius: 0;
  padding: 5px;
  border: none;
}

.widget-mpris > box > button {
  border: var(--border);
  margin-top: 40px;
  margin-bottom: 40px;
}

.widget.widget-mpris > carouselindicatordots {
  border-radius: var(--border-radius);
  border: var(--border);
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
  /* background: none; */
}

.widget-mpris-player:only-child {
  margin: 0;
}
