@define-color bg                rgba(0, 0, 0, 0.3);
@define-color fg                #c1c1c1;

@define-color disabled          #9a9aac;
@define-color active            #f0f0f0;
@define-color active-bg rgba(200, 200, 200, 0.15);

@define-color alert-bg          rgba(255, 40, 40, 0.35);


* {
  min-height: 0;
}

window#waybar {
  font-family: IBM Plex Sans;
  font-size: 15px;
  font-weight: 400;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), @bg);
  color: @fg;
}

/* use GTK theme for tooltip styling */
tooltip {
  background-color: @theme_bg_color;
  border-radius: 2px;
}

tooltip label {
  color: @theme_fg_color;
}

/* TODO the padding and margin stuff here is ugly */
#network,
#bluetooth,
#backlight,
#clock,
#wireplumber,
#mpris {
  margin: 0;
  margin-bottom: 3px;
  padding-left: 7px;
  padding-right: 8px;
  color: @fg;
  transition: 0.1s;
  border-radius: 5px;
}

#bluetooth {
  color: @fg;
  padding-right: 9px;
  margin-right: 3px;
  margin-left: 3px;
}

#bluetooth.discovering.on {
  color: rgb(90, 150, 250);
  background-color: @active-bg;
  border-radius: 5px;
}

#mpris {
  padding-right: 9px;
  margin-right: 3px;
}

#wireplumber {
  padding-right: 10px;
}

#network {
  margin-right: 6px;
  padding-right: 12px;
  padding-left: 6px;
}

#network.disabled {
  background: @alert-bg;
  border-radius: 5px;
}

#bluetooth.on, /* on but not connected */
#bluetooth.off,
#bluetooth.disabled,
#network.disconnected,
#wireplumber.muted {
  color: @disabled;
}

#clock:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#wireplumber:hover,
#mpris:hover {
  color: @active;
}

#workspaces button {
  all: unset;
  margin: 3px 2px;
  margin-top: 0;
  color: @disabled;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  transition: 0.1s;
}

#workspaces button:hover,
#workspaces button.visible,
#workspaces button.active {
  color: @active;
}

#workspaces button.urgent {
  background-color: @alert-bg;
}

#tray {
  all: unset;
  margin-right: 10px;
}

/* catppuccin strikes again */
@define-color battery-fg rgba(239, 241, 245, 0.8);
@define-color battery-charging-fg rgba(150, 255, 150, 0.9); /* except for this one */

@define-color battery-bar rgba(239, 241, 245, 0.3);
@define-color battery-charging-bar rgba(64, 160, 43, 0.7);
@define-color battery-warning-bar rgba(223, 142, 29, 0.7);
@define-color battery-alert-bar rgba(210, 15, 57, 0.8);

@define-color battery-bg rgba(239, 241, 245, 0.1);
@define-color battery-charging-bg rgba(64, 160, 43, 0.3);
@define-color battery-warning-bg rgba(223, 142, 29, 0.3);
@define-color battery-alert-bg rgba(210, 15, 57, 0.4);

#battery {
  padding-top: 0;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: @battery-fg;
  min-width: 25px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 9px;
  transition: 0.1s;
}

#battery.charging {
  color: @battery-charging-fg;
}

#battery.100 {
  background: @battery-bar;
}

#battery.charging.100 {
  background: @battery-charging-bar;
}

#battery.90 {
  background: linear-gradient(90deg, @battery-bar 90%, @battery-bg 90%);
}

#battery.charging.90 {
  background: linear-gradient(90deg, @battery-charging-bar 90%, @battery-charging-bg 90%);
}

#battery.80 {
  background: linear-gradient(90deg, @battery-bar 80%, @battery-bg 80%);
}

#battery.charging.80 {
  background: linear-gradient(90deg, @battery-charging-bar 80%, @battery-charging-bg 80%);
}

#battery.70 {
  background: linear-gradient(90deg, @battery-bar 70%, @battery-bg 70%);
}

#battery.charging.70 {
  background: linear-gradient(90deg, @battery-charging-bar 70%, @battery-charging-bg 70%);
}

#battery.60 {
  background: linear-gradient(90deg, @battery-bar 60%, @battery-bg 60%);
}

#battery.charging.60 {
  background: linear-gradient(90deg, @battery-charging-bar 60%, @battery-charging-bg 60%);
}

#battery.50 {
  background: linear-gradient(90deg, @battery-bar 50%, @battery-bg 50%);
}

#battery.charging.50 {
  background: linear-gradient(90deg, @battery-charging-bar 50%, @battery-charging-bg 50%);
}

#battery.40 {
  background: linear-gradient(90deg, @battery-bar 40%, @battery-bg 40%);
}

#battery.charging.40 {
  background: linear-gradient(90deg, @battery-charging-bar 40%, @battery-charging-bg 40%);
}

#battery.30 {
  background: linear-gradient(90deg, @battery-warning-bar 30%, @battery-warning-bg 30%);
}

#battery.charging.30 {
  background: linear-gradient(90deg, @battery-charging-bar 30%, @battery-charging-bg 30%);
}

#battery.20 {
  background: linear-gradient(90deg, @battery-warning-bar 20%, @battery-warning-bg 20%);
}

#battery.charging.20 {
  background: linear-gradient(90deg, @battery-charging-bar 20%, @battery-charging-bg 20%);
}

#battery.15 {
  background: linear-gradient(90deg, @battery-alert-bar 15%, @battery-alert-bg 15%);
}

#battery.charging.15 {
  background: linear-gradient(90deg, @battery-charging-bar 15%, @battery-charging-bg 15%);
}

#battery.10 {
  background: linear-gradient(90deg, @battery-alert-bar 10%, @battery-alert-bg 10%);
}

#battery.charging.10 {
  background: linear-gradient(90deg, @battery-charging-bar 10%, @battery-charging-bg 10%);
}
