@define-color bg       rgba(0, 0, 0, 0.3);
/* @define-color fg       #e1e1e1; */
@define-color fg       #c1c1c1;
@define-color active   #e1e1e1;
@define-color good     #00c877;
@define-color alert    #ff0000;
@define-color warning  #ffff00;
@define-color disabled #9a9aac;


* {
    min-height: 0;
}

window#waybar {
    padding: 0;
    font-family: Iosevka Aile, FontAwesome;
    font-size: 16px;
    font-weight: 500;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0), @bg); */
    background: @bg;
    color: @fg;
}

#memory,
#backlight,
#clock,
#clock-date,
#pulseaudio,
#disk,
#network,
#tray,
#battery {
    padding-left: 10px;
    padding-right: 10px;
    color: @fg;
}

#pulseaudio.muted {
  color: @disabled;
}

#workspaces button {
    border-radius: 5px;
    padding: 2px 4px 1px 4px;
    color: @disabled;
    transition: 0.1s;
}

#workspaces button:hover {
    color: @active;
    box-shadow: none;
    text-shadow: none;
    border-color: transparent;
    background: none;
    font-weight: 900;
}

#workspaces button.visible {
    color: @active;
    background: rgba(200, 200, 200, 0.2);
}

#workspaces button.active {
    color: @active;
    font-weight: 900;
    background: rgba(200, 200, 200, 0.25);
}

#workspaces button.active:hover {
    color: @active;
    font-weight: 900;
    background: rgba(200, 200, 200, 0.25);
}

#workspaces button.urgent {
    color: @active;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @alert;
}

#battery.charging {
    color: @good;
}

#tray {
    font-family: Noto Sans;
}

#tray menu {
    font-size: 13px;
    font-weight: 400;
}
