@define-color bg                rgba(0, 0, 0, 0.3);
@define-color fg                #c1c1c1;

@define-color disabled          #9a9aac;
@define-color active            #e1e1e1;
@define-color active-bg         rgba(200, 200, 200, 0.25);
@define-color active-bg-lighter rgba(200, 200, 200, 0.2);

@define-color good-bg           rgba(69, 255, 80, 0.25);
@define-color alert-bg          rgba(255, 40, 40, 0.35);
@define-color warning-bg        rgba(240, 240, 80, 0.3);


* {
  min-height: 0;
}

window#waybar {
  padding: 0;
  font-family: Iosevka Aile, FontAwesome;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), @bg);
  color: @fg;
  transition: 0.1s
}

#network,
#memory,
#backlight,
#clock,
#clock-date,
#pulseaudio,
#wireplumber,
#mpris,
#disk,
#network,
#battery,
#tray {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px; /* centered vertically */
  color: @fg;
}

#network:hover,
#backlight:hover,
#wireplumber:hover,
#mpris:hover {
  color: @active;
  background: @active-bg;
  border-radius: 5px;
  transition: 0.1s;
}

#taskbar {
  color: @disabled;
}

#taskbar button {
  all: unset; /* annoying default sytles */
  padding: 1px 10px 0px 6px;
  transition: 0.1s;
  margin-right: 10px;
}

#taskbar button.active {
  color: @active;
  background: @active-bg;
  border-radius: 5px;
}

#taskbar button:hover {
  color: @active;
  /* background: @active-bg-lighter; */
  border-radius: 5px;
}

#wireplumber.muted {
  color: @disabled;
}

#workspaces button {
  border-radius: 5px;
  padding: 2px 4px 1px 4px;
  color: @active;
  transition: 0.1s;
}

#workspaces button:hover {
  color: @active;
  box-shadow: none;
  text-shadow: none;
  border-color: transparent;
  background: none;
  font-weight: 900;
}

#workspaces button.empty {
  color: @disabled;
}

#workspaces button.visible {
  color: @active;
  background: @active-bg-lighter;
}

#workspaces button.active {
  color: @active;
  font-weight: 900;
  background: @active-bg;
}

#workspaces button.active:hover {
  color: @active;
  font-weight: 900;
  background: @active-bg;
}

#workspaces button.urgent {
  color: @active;
}

#network.disconnected {
  color: @disabled;
}

#network.disabled {
  color: @disabled;
  background: @alert-bg;
  border-radius: 5px;
}

#battery.warning {
  color: @active;
  background: @warning-bg;
  border-radius: 5px;
}

#battery.critical {
  color: @active;
  background: @alert-bg;
  border-radius: 5px;
}

#battery.charging {
  color: @active;
  background: @good-bg;
  border-radius: 5px;
}

#tray {
  padding-left: 0;
  font-family: Noto Sans;
}

#tray menu {
  font-size: 13px;
  font-weight: 400;
}
